html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 清除浮动 */
.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}
/* 单行省略 */
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}